<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wyrmhaven - L'héritage des Drakins{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/SVG/w.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
                <link rel='stylesheet' type='text/css' media='screen' href='{{ asset('css/main.css') }}'>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
